<div class="container">
  <div class="card">
    <div class="card-header text-white bg-info">
      Rapport de dépotage
    </div>
    <div class="card-body">
      <div class="row" *ngIf="depot">
        <div class="col mt-3 p-3">
          <h4> informations sur le fournisseur </h4><br><br>
          <div>
            <p>
              <label><b>Fournisseur: </b></label> {{depot.livNom}}

            </p>
          </div>
          <div>
            <p>
              <label><b>Email: </b></label> {{depot.livemail}}

            </p>
          </div>
          <div>
            <p>
              <label><b>Contact: </b></label> {{depot.livContact}}

            </p>
          </div>
        </div>
        <div class="col mt-3 p-3">
          <h4> informations sur le Carburant </h4><br><br>

          <div>
            <p>
              <label><b>Quantité: </b></label> {{depot.prodQuantite}}

            </p>
          </div>
          <div>
            <p>
              <label><b>Densite: </b></label> {{depot.prodDensite}}

            </p>
          </div>
          <div>
            <p>
              <label><b>valide: </b></label> {{depot.prodConforme}}
            </p>
          </div>
        </div>



      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="btn btn-secondary " [routerLink]="'/update/' + depot.id">Modifier</a>

          </div>
          <div class="col">
            <button (click)="deleteEmployee(depot.id)" class="btn btn-danger">Delete</button>

          </div>
          <div class="col">
            <a [routerLink]="['/liste']" class="btn btn-primary">Back to Depots List</a>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

