<div class="container">
  <h1>Enregistrer un dépotage</h1>
  <form (ngSubmit)="onSubmit()" #depotageForm="ngForm">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" id="date" name="date" [(ngModel)]="livraison.date" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="heure">Heure:</label>
          <input type="time" class="form-control" id="heure" name="heure" [(ngModel)]="livraison.heure" required>
        </div>
      </div>
    </div><br><br>
    <h2> Informations du Livreur</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nomLivreur">Nom du Livreur:</label>
          <input type="text" class="form-control" id="nomLivreur" name="nomLivreur" [(ngModel)]="livreur.nomLivreur" required>
        </div>
        <div class="form-group">
          <label for="emailLivreur">Email du Livreur:</label>
          <input type="email" class="form-control" id="emailLivreur" name="emailLivreur" [(ngModel)]="livreur.emailLivreur" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="contactLivreur">Contact du Livreur:</label>
          <input type="text" class="form-control" id="contactLivreur" name="contactLivreur" [(ngModel)]="livreur.contactLivreur" required>
        </div>
      </div>
    </div><br><br>
    <h2>Informations sur le carburant</h2>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="quantite" class="form-label">Quantite : </label>
          <input [(ngModel)]="livraison.quantite" type="number" class="form-control" id="quantite" name="quantite" required>
        </div>
        <div class="mb-3">
          <label for="densite" class="form-label">Densite : </label>
          <input [(ngModel)]="depotage.densite" type="text" class="form-control" id="densite" name="densite" required>
      </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="temperatue" class="form-label">temperatue : </label>
          <input [(ngModel)]="depotage.temperatue" type="number" class="form-control" id="temperatue" name="temperatue" required>
          </div>
          <div class="form-group">
            <label for="produit">Type de carburant:</label>
            <select class="form-control" id="categorie" name="categorie" [(ngModel)]="depotage.categorie" required>
              <option *ngFor="let categorie of categories" [ngValue]="categorie">{{ categorie.nomCategorie }}</option>
            </select>
          </div>
      </div>
    </div><br><br>
    <h2>Autres Informations</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="cuve">Cuve de stockage:</label>
          <select class="form-control" id="cuve" name="cuve" [(ngModel)]="depotage.cuve" required>
            <option *ngFor="let cuve of cuves" [ngValue]="cuve">{{ cuve.nomCuve }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="quantiteAvant" class="form-label">Quantité Avant : </label>
          <input [(ngModel)]="depotage.quantiteAvant" type="number" class="form-control" id="quantiteAvant" name="quantiteAvant" required>
        </div>
        
      </div>
      <div class="col">
        
        <div class="mb-3">
          <label for="quantiteApres" class="form-label">Quantité Après : </label>
          <input [(ngModel)]="depotage.quantiteApres" type="number" class="form-control" id="quantiteApres" name="quantiteApres" required>
        </div>
        <div class="mb-3">
          <label for="coullage" class="form-label">Coullage : </label>
          <input [(ngModel)]="depotage.coullage" type="number" class="form-control" id="coullage" name="coullage" required>
      </div>
      </div>
    </div><br><br>
    <div class="button">
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="!depotageForm.valid">Enregistrer</button>
    </div>
  </form>
</div>
