<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-3" ><p id="img1"></p></div>
      <div class="col-6 "><p class="nom">Station-Service Sodigaz</p><br><br><br> <p class="welcome">Bienvenue !!!</p></div>
      <div class="col-3" ><p id="img3"></p></div>

    </div>
    <div class="row cuves">
      <div class="col">
        <div class="cuve" id="cuve1" *ngIf="cuve1">
          <b>
            {{cuve1.idCuve}}
          </b>
          <b>
            {{cuve1.nomCuve}}
          </b>
          <br><br>

          <div class="row">

            <div class="col">
              Capcité<br><b>{{cuve1.capacite}}</b>
            </div>
            <div class="col">
              Contenu<br><b>{{cuve1.quanteducuve}}</b>
            </div>
          </div>

        </div>
      </div>
      <div class="col cuve" >
        <div class="cuve" id="cuve2" *ngIf="cuve2">

          <b>
            {{cuve2.idCuve}}
          </b>
          <b>
            {{cuve2.nomCuve}}
          </b>
          <br><br>
          <div class="row">

            <div class="col">
              Capcité<br><b>{{cuve2.capacite}}</b>
            </div>
            <div class="col">
              Contenu<br><b>{{cuve2.quanteducuve}}</b>
            </div>
          </div>

        </div>

      </div>
      <div class="col cuve" >
        <div class="cuve" id="cuve3" *ngIf="cuve3">
          <b>
            {{cuve3.idCuve}}
          </b>
          <b>
            {{cuve3.nomCuve}}
          </b>
          <br><br>
          <div class="row">

            <div class="col">
              Capcité<br><b>{{cuve3.capacite}}</b>
            </div>
            <div class="col">
              Contenu<br><b>{{cuve3.quanteducuve}}</b>
            </div>
          </div>

        </div>

      </div>


    </div><br><br><br>
    <div class="row url">

        <a routerLink="/depotage" class="btn btn-lg btn-primary">Enregistrer une Livraison</a>

    </div>

  </div>
</div>
