<div class="container">
  <div class="card">
    <div class="row">
      <div class="col"><p id="img1"></p></div>
      <div class="col"><h1>Rapport de Depotage</h1> </div>
      <div class="col"></div>
    </div>
    <div class="contenu">
      <div class="row">

        <p id="date">Dépotage du: <b>{{livraison.date}}</b>  <span>à: <b>{{livraison.heure}}</b></span>  <span>N°: <b>{{livraison.id}}</b></span></p> <br>

        <div class="row" id="ligne1">
          <h3> Informations du Fournisseur</h3>
          <div class="col">
            <p> Nom: <b>{{livraison.livreur.nomLivreur}}</b> </p>
            <p> Contact: <b>{{livraison.livreur.contactLivreur}}</b> </p>

          </div>
          <div class="col droit">
            <p>E-mail:<b>{{livraison.livreur.emailLivreur}}</b>  </p>
          </div>

        </div>

        <div class="row" id="ligne2">
          <h3> Informations sur le Prduit</h3>

          <div class="col">
            <p>Carburant de type:<b>{{livraison.depotage.categorie.nomCategorie}}</b>  </p>
            <p>Quanté de carburant livré :<b>{{livraison.quantite}}</b> </p>
            <p> Contient de l'eau: <b>{{livraison.depotage.contientEau}}</b> </p>

          </div>
          <div class="col droit">
            <p>Densité : <b>{{livraison.depotage.densite}}</b>  </p>
            <p>Température : <b>{{livraison.depotage.temperatue}}</b></p>
          </div>

        </div>

        <div class="row" id="ligne1">
          <h3> Autres Informations</h3>

          <div class="col">
            <p>Cuve : <b>{{livraison.depotage.cuve.nomCuve}}</b> </p>
            <p> Mesure avant dépotage :<b>{{livraison.depotage.quantiteAvant}}</b> </p>
            <p>Coullage : <b>{{livraison.depotage.coullage}}</b> </p>
          </div>
          <div class="col droit">
            <p> Quantité attendu :<b>{{livraison.depotage.quantiteTheorique}}</b> </p>
            <p> Messure après dépotage: <b>{{livraison.depotage.quantiteApres}}</b> </p>
            <p> Manquant : <b>{{livraison.depotage.ecart}}</b> </p>
          </div>

        </div>

      </div><br><br>



      <div class="row signature">
        <div class="col">
          <p>Le Gérant</p><br><br><br>
          <p>{{currentUser.nomUser}} </p>

        </div>
        <div class="col"></div>
        <div class="col">
          <p id="nomliv">Le Livreur</p><br><br><br>
          <p id="nomliv">{{livraison.livreur.nomLivreur}}</p>
        </div>
      </div><br><br>
    </div>

        <div class="button">
          <button class="btn btn-primary" (click)="printPage()">Imprimer</button>
        </div>


    </div>
</div>

<!--div class="col">
            <a class="btn btn-secondary " [routerLink]="'/modifier/' + depotage.id">Modifier</a>

          </div>
          <div class="col">
            <button (click)="deleteDepot(depotage.id)" class="btn btn-danger">Delete</button>

          </div>
          <div class="col">
            <button (click)="deleteDepot(depotage.id)" class="btn btn-success">Imprimer</button>

          </div>
          <div class="col">
            <a [routerLink]="['/historique']" class="btn btn-primary">Back to Depots List</a>

          </div-->
