<div class="container">
  <div class="btn-group me-2" id="bouttons">
    <div class="bouttonsclick">
      <button class="btn btn-outline-success " (click)="ListeLivraison()"> livraisons du mois</button>
    </div>
    <div class=" form-group bouttonsclick">
      <form action="post">
        <div class="form-group">
          <div class="input-group">
            <input type="datetime" [(ngModel)]="dateLivraison" name="nueroFiltre" id="input" class="form-control" placeholder="rechercher par la date">
            <span class=" input-group-text">
              <button id="btnRecherche" type="submit" (click)="getLivraison()">rech</button>
            </span>
          </div>

        </div>

      </form>
    </div>
    <div class="bouttonsclick">
      <button class="btn btn-outline-success" (click)="ListeLivraisonCuve1()"> Cuve1</button>
    </div>
    <div class="bouttonsclick">
      <button class="btn btn-outline-danger" (click)="ListeLivraisonCuve2()"> Cuve2</button>
    </div>
    <div class="bouttonsclick">
      <button class="btn btn-outline-primary" (click)="ListeLivraisonCuve3()"> Cuve3</button>
    </div>


  </div>


      <h2>Historique des livraisons</h2>
      <div *ngIf="isClick">
        <div class="row infos">
          <div class="col">
            <h3>Nom de la cuve: <b>{{nom}}</b>  </h3>

          </div>
          <div class="col">
            <h3>nombre de livfraisons: <b> {{nombre}} </b> </h3>

          </div>
          <div class="col">
            <h3>Total Carburant Livré : <b>{{sommeQuantiteCarburant}}</b> </h3>

          </div>
        </div>

      </div>
      <div *ngIf="isClick2">
        <div class="row infos">
          <div class="col">

          </div>
          <div class="col">
            <h3>nombre de livfraisons: <b> {{nombre}} </b> </h3>

          </div>
          <div class="col">
            <h3>Total Carburant Livré : <b>{{sommeQuantiteCarburant}}</b> </h3>

          </div>
        </div>

      </div>
      <div class="message" *ngIf="errorExist">
        {{message}}
      </div>
      <div class="row" *ngFor="let livraison of livraisons">

        <div>
          <a [routerLink]="'/details/' + livraison.id">
            <div class="card my-sm-3">
              <div class="card-body" >
                <div class="row">
                  <div class="col-10">
                    <p id="date"><b>{{livraison.date}}</b> </p>
                  </div>
                  <div class="col-2">
                    <p id="heure"><b>{{livraison.heure}}</b></p>
                  </div>
                </div><br><br>
                <div class="row donnees">
                  <div class="col">
                    <p> Livreur : <b>{{livraison.livreur.nomLivreur}}</b></p>
                    <p>E-mail: <b>{{livraison.livreur.emailLivreur}}</b></p>
                    <p>Contact: <b>{{livraison.livreur.contactLivreur}}</b></p>

                  </div>
                  <div class="col">

                    <p>Produit: <b>{{livraison.depotage.categorie.nomCategorie}}</b></p>
                    <p>Quantité livré: <b>{{livraison.quantite}}</b> </p>
                    <p>Densité : <b>{{livraison.depotage.densite}} </b></p>
                    <p>Cuve : <b>{{livraison.depotage.cuve.nomCuve}} </b></p>

                  </div>
                </div>
              </div>
            </div>
          </a>

        </div>



      </div>
</div>
