<div class="container">
  <div class="row ligne my-sm-3" >
    <div class="col mt-sm-2 re">RECHERCHE</div>
    <div class="col">
      <!-- mat-form-field>
        <input matInput [matDatepicker]="datePicker">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field -->
      <form>
        <input type="datetime" [(ngModel)]="numeroFiltre" name="nueroFiltre" class="form-control" placeholder="rechercher par la date">
      </form>
    </div>
    <div class="col"><button class="btn btn-outline-success"> Rechercher</button></div>
  </div>


      <h2>Historique des livraisons</h2>

      <div class="message">
        {{message}}
      </div>
      <div class="row" *ngFor="let depotage of livraisons">
        
        <div *ngIf="depotage.date == numeroFiltre || numeroFiltre == null">
          <a [routerLink]="'/details/' + depotage.id">
            <div class="card my-sm-3">
              <div class="card-body" >
                <div class="row">
                  <div class="col-10">
                    <p id="date"><b>{{depotage.date}}</b> </p>
                  </div>
                  <div class="col-2">
                    <p id="heure"><b>{{depotage.heure}}</b></p>
                  </div>
                </div><br><br>
                <!--div class="row donnees">
                  <div class="col">
                    <p> Livreur : <b>{{depotage.livreur.nomLivreur}}</b></p>
                    <p>E-mail: <b>{{depotage.livreur.emailLivreur}}</b></p>
                    <p>Contact: <b>{{depotage.livreur.contactLivreur}}</b></p>

                  </div>
                  <div class="col">

                    <p>Produit: <b>{{depotage.produit.nomProduit}}</b></p>
                    <p>Quantité livré: <b>{{depotage.quantite}}</b> </p>
                    <p>Densité : <b>{{depotage.densite}} </b></p>

                  </div>
                </div-->
              </div>
            </div>
          </a>  
          
        </div>



      </div>
</div>
