.content{
background-color: aqua;
max-height: 100vh;
}

a{
  text-decoration: none;
}
.re
{

  font-size: 25px;
}
.card{
  width: 80%;
  margin-left: 10%;
}
h2{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}
.element{
  text-decoration: none;
}
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 30px;
  color: red;
}
#date, #heure{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.donnees{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.donnees .col{
  padding-left: 10%;
  font-size: 20px;
}
#bouttons{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.bouttonsclick{
  margin-left: 20px;
  border: 1px ;
}
#input, .btn{
  width: 200px;
}