


<!--div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3>Update Depot</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="update()">
          <div class="form-row">
            <label for="livNom">Nom</label>
            <input type="text" [(ngModel)]="depot.livNom" placeholder="depot.livNom" class="form-control" name="livNom">
          </div>
          <div class="form-row">
            <label for="livemail">Email</label>
            <input type="email" [(ngModel)]="depot.livemail" class="form-control" name="livemail">
          </div>
          <div class="form-row">
            <label for="livContact">Contactl</label>
            <input type="tel" [(ngModel)]="depot.livContact" class="form-control" name="livContact">
          </div>
          <div class="form-row">
            <label for="prodQuantite">Quantité</label>
            <input type="number" [(ngModel)]="depot.prodQuantite" class="form-control" name="prodQuantite">
          </div>
          <div class="form-row">
            <label for="prodQuantite">Densité</label>
            <input type="number" [(ngModel)]="depot.prodDensite" class="form-control" name="prodDensite">
          </div>
          <div class="form-row">
            <label for="prodQuantite">Validité</label>
            <input class="form-check-input is-valid" type="checkbox" [(ngModel)]="depot.prodConforme"  name="prodConforme">
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary"> Modifier </button>
            </div>
            <div class="col-6">
              <a [routerLink]="'/details/' + depot.id" class="btn btn-info"> Annuler </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div-->
