<div class="container">
  <h1>Engeristrement d'une livraison</h1>

  <form #f="ngForm" action="post">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="date" class="form-label">Date : </label>
          <input [(ngModel)]="depotage.date" type="date" class="form-control" id="date" name="date" required>
      </div>
      <div class="mb-3">
        <label for="heure" class="form-label">Heure : </label>
        <input [(ngModel)]="depotage.heure" type="time" class="form-control" id="heure" name="heure" required>
    </div>
    <div class="mb-3">
      <label for="quantite" class="form-label">Quantite : </label>
      <input [(ngModel)]="depotage.quantite" type="number" class="form-control" id="quantite" name="quantite" required>
    </div>
        <div class="mb-3">
            <label for="densite" class="form-label">Densite : </label>
            <input [(ngModel)]="depotage.densite" type="text" class="form-control" id="densite" name="densite" required>
        </div>
        <div class="mb-3">
          <label for="">Categorie de Carburant</label>
            <select name="carburant" id="carburant" class="form-control" [(ngModel)]="selectcategory" required>
                <option *ngFor="let cat of carburants" [ngValue]="cat">
                    {{cat.nomCategorie}
                </option>
            </select>

        </div>
        <div class="mb-3">
          <label for="">Cuve</label>
          <select name="cuve" id="cuve" class="form-control" [(ngModel)]="selectCuve" required>
              <option *ngFor="let cat of cuves" [ngValue]="cat">
                  {{cat.nomCuve}}
              </option>
          </select>
77724890
      </div>
      <div class="mb-3">
        <label for="">Livreur</label>
        <select name="livreur" id="livreur" class="form-control" [(ngModel)]="selectLivreur" required>
            <option *ngFor="let cat of livreurs" [ngValue]="cat">
                {{cat.nomLivreur}}
            </option>
        </select>

      </div>

      </div>
      <div class="col">
        <div class="mb-3">
          <label for="coullage" class="form-label">Coullage : </label>
          <input [(ngModel)]="depotage.coullage" type="number" class="form-control" id="coullage" name="coullage" required>
      </div>
      <div class="mb-3">
          <label for="quantiteAvant" class="form-label">Quantité Avant : </label>
          <input [(ngModel)]="depotage.quantiteAvant" type="number" class="form-control" id="quantiteAvant" name="quantiteAvant" required>
      </div>
      <div class="mb-3">
        <label for="quantiteApres" class="form-label">Quantité Après : </label>
        <input [(ngModel)]="depotage.quantiteApres" type="number" class="form-control" id="quantiteApres" name="quantiteApres" required>
    </div>
    <div class="mb-3">
      <label for="quantiteTheorique" class="form-label">Quantité Theorique : </label>
      <input [(ngModel)]="depotage.quantiteTheorique" type="number" class="form-control" id="quantiteTheorique" name="quantiteTheorique" required>
  </div>
  <div class="mb-3">
    <label for="temperatue" class="form-label">temperatue : </label>
    <input [(ngModel)]="depotage.temperatue" type="number" class="form-control" id="temperatue" name="temperatue" required>
  </div>
  <div class="mb-3">
    <label for="ecart" class="form-label">ecart : </label>
    <input [(ngModel)]="depotage.ecart" type="number" class="form-control" id="ecart" name="ecart" required >
  </div>
      </div>
    </div>



    <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="save()" >Enregistrer</button>
    <button type="submit" class="btn btn-success" (click)="save()">Annuler</button>
</form>
</div>
