header{
  background-color: #2f82ee;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav{
  top: 55px;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 160px;
}
.user img{
  border-radius: 15px;
  margin-right: 20px;
  width: 40px;
  height: auto;
}
.btn{
  margin-left: 10px;
}
.user{
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone du conteneur */
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-image: url('../../../assets/images/l.jpg');

}
