.page{
  margin-top: 80px;
}

.contenu{
  min-height: 85vh;
  margin-top: 80px;
  margin-left: 160px;
  border: 1px solid;
  background-color: rgba(214, 214, 194, 0.705);
}
.menu
{
  border: 1px solid;
}
