<header>

  <div class="navbar sticky-top flex-md-nowrap p-0 shadow">

    <h1>DEPOTAGE</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a routerLink="profil" *ngIf="isLoggedIn"><div class="user"></div></a>
        <div class="bouton" *ngIf="isLoggedIn"><button (click)="deconnecter()" class="btn btn-sm btn-secondary">Se deconnecter</button></div>
        <div class="bouton" *ngIf="!isLoggedIn"><a routerLink="connexion" class="btn btn-sm btn-secondary">Se connecter</a></div>
        <div class="bouton" *ngIf="!isLoggedIn"><a routerLink="inscription" class="btn btn-sm btn-secondary">S'inscrire</a></div>
      </div>
    </div>

  </div>
</header>
<!--app-navbar *ngIf="isLoggedIn"></app-navbar-->
<div class="container-fluid">

  <div>
    <nav id="sidebarMenu" >
      <div class="position-sticky pt-3">
        <img src="../../../assets/images/logo.jpeg" alt="">
        <ul class="nav flex-column" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a routerLink="dashboard" class="nav-link active" aria-current="page"><span data-feather="home"></span>DASHBORD <span></span></a>
          </li>

          <li class="nav-item">
            <a routerLink="depotage" class="nav-link"><span data-feather="users" class="material-icons"></span>LIVRAISON</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/historique']" class="nav-link"><span data-feather="layers"></span>HISTORIQUE</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!--app-menu></app-menu-->

    <div class="contenu">
      <router-outlet></router-outlet>
    </div>

</div>
