.card{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.donnees{
  padding-top: 100px;
}
h1{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-top: 50px;
}
#img1{
  background-image: url('../../../assets/images/b.jpg');
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone du conteneur */
  height: auto;
}

