<div class="container">
  <div class="card">
    <div class="card-body">
      <h1><b>CONNEXION</b></h1>
      <div class="row">

          <form #f="ngForm" action="post" >

              <div class="form-group">
                <label for="nom" class="form-label">Username</label>
                <div class="input-group">
                  <input type="text" [(ngModel)]="utilisateur.nom" class="form-control" name="nom" ngModel required #e="ngModel">
                  <span class=" input-group-text material-icons">
                    personne
                  </span>
                </div>

              </div>

              <br>
              <div class="form-group">
                  <label for="Password" class="form-label">Mot de passe</label>
                  <div class="input-group">
                    <input type="password" [(ngModel)]="utilisateur.mdp" class="form-control" name="mdp" ngModel required #mp="ngModel">
                    <span class="input-group-text material-icons">
                      lock_open
                    </span>
                  </div>
              </div>

              <br>
              <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="login()">Se Connecter</button>
              <div id="url">
                <a routerLink="/inscription"> je n'ai pas de compte</a>
              </div><br><br>
              <div *ngIf="error" class="error">{{ error }}</div>

          </form>

      </div>

    </div>
</div>
